*
!/.gitignore
!/kubejs/
!/kubejs/**
!/mods/
!/mods/**
!/config/
!/config/**
!/resourcepacks/
!/resourcepacks/**
!/PCL/
!/PCL/**
!/defaultconfigs/
!/defaultconfigs/**
!/CustomSkinLoader/CustomSkinLoader.json
!/TrashSlotSaveState.json
!/options.txt
!/*.bat